################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CoreDemo_Swagger/bin/Debug/netcoreapp2.2
/CoreDemo_Swagger/obj
obj
/CoreDemo_Authentication/.vs/CoreDemo_Authentication
/CoreDemo_Authentication/bin/Debug/netcoreapp2.2
/CoreDemo_AutoFac/.vs/CoreDemo_AutoFac
/CoreDemo_AutoMap/.vs/CoreDemo_AutoMap
/CoreDemo_AutoMap/bin/Debug/netcoreapp2.2
/CoreDemo_Consul/.vs/CoreDemo_Consul
/CoreDemo_Consul/bin/Debug/netcoreapp2.2
/CoreDemo_Consul/bin/Release/netcoreapp2.2
/CoreDemo_IdentityServer4/.vs/CoreDemo_IdentityServer4
/CoreDemo_IdentityServer4/.vscode
/CoreDemo_IdentityServer4/Api/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/Api1/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/Client/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/IdentityServerA/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/IdentityServerA/Data/Migrations
/CoreDemo_IdentityServer4/JsClient/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/node_modules
/CoreDemo_IdentityServer4/QuickstartIdentityServer/.vscode
/CoreDemo_IdentityServer4/QuickstartIdentityServer/bin/Debug/netcoreapp2.2
/CoreDemo_IdentityServer4/servers/bin/Debug/netcoreapp2.2
/CoreDemo_iTextSharp/.vs/CoreDemo_iTextSharp
/CoreDemo_iTextSharp/.vscode
/CoreDemo_iTextSharp/bin/Debug/netcoreapp2.2
/CoreDemo_iTextSharp/1.pdf
/CoreDemo_Logging/.vs/CoreDemo_Logging
/CoreDemo_Logging/bin/Debug/netcoreapp2.2
/CoreDemo_Logging/Logs
/CoreDemo_Mysql/bin/Debug/netcoreapp2.2/Properties
/CoreDemo_Mysql/bin/Debug/netcoreapp2.2
/CoreDemo_NPOI/.vs/CoreDemo_NPOI/v16/Server/sqlite3
/CoreDemo_NPOI/assert/test.xlsx
/CoreDemo_NPOI/bin/Debug/netcoreapp2.2
/CoreDemo_NPOI/excel
/CoreDemo_NPOI/test.xlsx
/CoreDemo_Ocelot/MapApi/.vs/MapApi
/CoreDemo_Ocelot/MapApi/bin/Debug/netcoreapp2.2
/CoreDemo_Ocelot/MapApi1/bin/Debug/netcoreapp2.2
/CoreDemo_Ocelot/OcelotFirst/.vs/OcelotFirst
/CoreDemo_Ocelot/OcelotFirst/bin/Debug/netcoreapp2.2
/CoreDemo_Ocelot/OcelotServer/.vs/OcelotServer
/CoreDemo_Ocelot/OcelotServer/bin/Debug/netcoreapp2.2
/CoreDemo_PDFBOX/.vs/CoreDemo_PDFBOX
/CoreDemo_PDFBOX/bin/Debug/netcoreapp2.2
/CoreDemo_PDFBOX/.vscode
/CoreDemo_PDFBOX/Controllers/20191011183834.pdf
/CoreDemo_PDFBOX/pdf/20191011185435.pdf
/CoreDemo_PDFBOX/upload/2019/10/11/20191011112544.pdf
/CoreDemo_PDFBOX/20191011183834.pdf
/CoreDemo_PdfSharp/.vs/CoreDemo_PdfSharp
/CoreDemo_PdfSharp/bin/Debug/netcoreapp2.2
/CoreDemo_Service/.vs/CoreDemo_Service
/CoreDemo_Service/bin/Debug/netcoreapp2.2
/CoreDemo_Skywalking/bin/Debug/netcoreapp2.2
/CoreDemo_Skywalking/logs
/CoreDemo_Spire/.vs/CoreDemo_Spire
/CoreDemo_Spire/.vscode
/CoreDemo_Spire/bin/Debug/netcoreapp2.2
/CoreDemo_Spire/images
/CoreDemo_Spire/pdf
/CoreDemo_Sql/.vs/CoreDemo_Sql
/CoreDemo_Sql/bin/Debug/netcoreapp2.2
/CoreDemo_StackexchageRedis/.vs/CoreDemo_StackexchageRedis
/CoreDemo_StackexchageRedis/bin/Debug/netcoreapp2.2
/CoreDemo_Filter/.vs/CoreDemo_Filter
/CoreDemo_Filter/bin/Debug/netcoreapp3.0
/CoreDemo_Core3/bin/Debug/netcoreapp3.0
/CoreDemo_Core3/.vs/CoreDemo_Core3
